@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

//Tamaño pantallas
$telefono : 375px;
$desktop : 1100px;

//Colores Primarios textos
$azulMuyOscuro : rgb(29, 30, 53);
$rojo : rgb(244, 124, 87);

//Colores neutrales texto
$azulGrisMuyOsucro : rgb(74, 75, 94);
$azulGrisOscuro : rgb(120, 120, 135);

//Barra divisora
$azulGrisClaro : rgb(231, 231, 233);

//Fondo degradado
$fondoVioleta : rgb(175, 103, 233);
$fondoAzul : rgb(101, 101, 231);

//Fuente
$tamanoP : 14px;
$fuente : 'Kumbh Sans', sans-serif;




