@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(18, 18, 18);
    display: grid;
    place-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}