@tailwind base;
@tailwind components;
@tailwind utilities;

.error{
    background-color: rgba(255, 0, 0, 0.2);
    color: red;
    border-color: red;
}

.error:focus{
    outline: none;
}

.error-label{
    display: block;
}