@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

//Colores Primarios
$rojo : rgb(255, 122, 122) ;
$verde : rgb(56, 204, 140);
$azul : rgb(96, 85, 165);

//Colores neutros
$azulOscuro : rgb(62, 60, 73);
$azulClaro : rgb(185, 182, 211);

//Tamaño de fuente
$tamanoFuente : 1.6rem;

//Familia Fuente
$font : 'Poppins', sans-serif;