h1{
    font-family: 'Cherry Bomb One';
    text-align: center;
    font-size: 80px;
    letter-spacing: 3PX;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}

svg{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: block;
    transition: transform 0.7s ease;
    cursor: pointer;
}

.bomba-texto{
    position: relative;
    display: inline-block;
    transition: transform 0.7s ease;
}

.bomba-texto .parrafo{
    position: absolute;
    top: 65%;
    left: 45%;
    transform: translate(-50%, -50%) scale(1);
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding: 0;
    transition: transform 0.7s ease;
    cursor: pointer;
    font-family: 'Cherry Bomb One';
}

.bomba-texto .parrafo {
    transform-origin: 250px -10px;
  transition: transform 0.7s ease;
}

.bomba-texto:hover .hoverable {
  transform: scale(1.3);
}