.celdas {
    width: 35px;
    height: 35px;
    display: grid;
    place-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 4px;
    box-shadow: inset 0px 0px 3px 1px black;
}


#tabla{
    display: none;
    opacity: 0;
}

.celda-pulsada {
    background-color: rgb(179, 179, 179);
    font-size: 20px;
    font-weight: 700;
}
