.celdas {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    background-color: rgb(58, 58, 58);
    border-radius: 4px;
}

.celdas:active {
    background-color: #353535;
}

#tabla{
    display: none;
    opacity: 0;
}

.celda-pulsada {
    background-color: rgb(179, 179, 179);
}
