@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap');

//Colores Primarios
$morado : rgb(133, 77, 255);
$rojoLuminoso : rgb(255, 87, 87);

//Colores neutros
$blanco : rgb(255, 255, 255);
$whiteOff : rgb(240, 240, 240);
$grisClaro : rgb(219, 219, 219);
$grisHumo : rgb(113, 111, 111);
$blackOff : rgb(20, 20, 20);

//Tamaño Fuente inputs
$inputSize : 3.2rem;

//Fuente
$fuente : 'Poppins', sans-serif;
