.juego{
    width: 90%;
    max-width: 700px;
    min-height: 500px;
    display: none;
    justify-content: center;
    align-items: top;
}


.nombreJugador p{
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
}

.eleccionJugador{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.piedra{
    background-color: #f1f1f1;
    font-size: 1.2rem;
    padding: 10px;
    transition: scale .3s ease;
    cursor: default;

    & p{
        margin: 0;
    }
}

.papel{
    background-color: #f1f1f1;
    font-size: 1.2rem;
    padding: 10px;
    transition: scale .3s ease;
    cursor: default;

    & p{
        margin: 0;
    }
}

.tijeras{
    background-color: #f1f1f1;
    font-size: 1.2rem;
    padding: 10px;
    transition: scale .3s ease;
    cursor: default;

    & p{
        margin: 0;
    }
}
